footer#footer
        .grid
            .inner
                
                .block.kontakt
                    
                    div
                        h6 Huvudkontoret
                        | Lasarettsgatan 12
                        br 
                        | 891 33 Örnsköldsvik
                    div
                        h6 Stockholmskontoret
                        | Mäster Samuelsgatan 10
                        br 
                        | 111 44 Stockholm
                    div
                        h6 &nbsp;
                        | E-post: info@brath.se
                        br
                        | Telefon: 020-10 00 08
                    
                .block.extra
                    .social
                        p Följ Brah AB på: 
                        a.facebook(href="https://www.facebook.com/mbrathab") Facebook
                        a.twitter(href="https://twitter.com/brath_ab") Twitter
                        a.gplus(href="https://plus.google.com/+BrathABÖrnsköldsvik") Google+
                        a.youtube(href="https://www.youtube.com/channel/UC7DgRm1C5W4OMqKn2cSv0AA") YouTube
                        a.instagram(href="https://www.instagram.com/brath_ab") Instagram
                    
                    .partners
                        a.google_partner(href="https://www.google.se/partners/?hl=sv#a_profile;qury=Brath;idtf=4566765247;")
                            img(src="https://brath.se/wp-content/uploads/2014/08/PartnerBadge-Horizontal-300x112.png", alt="Google Partner")
                    
                .block
                    .copy
                        a.logo
                        h6 &copy; M Brath AB
                    .language 
                        label Språk val: 
                        select
                            option English
                            option Svenska
                    
            .inner

    script(src="/js/main.js" async)   