extends ./layout.jade

block title
    title!= title

block figure
    #figure
            .grid
                .inner
                    
                    .heading
                        h1 Sökmotoroptimering på rätt sätt
                       
block top

    .top
        .content
            p.stor  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus sed ad officia dicta numquam quae doloribus reprehenderit laudantium nisi pariatur! Voluptate quisquam praesentium officia sed rem! Fugiat saepe, voluptates rerum molestias optio iste explicabo vitae!
        .cta
                        a.button.phone.icon(href="tel:004620100008" title="Ring Brath AB") 020-10 00 08
                        a.button.email.icon(href="mailto:info@brath.se" title="Mejla Brath AB") info@brath.se
                 
block content
    aside.items_3
        .inside.pitch
            h4 Öka exponeringen

            p Ju synligare ni är i sökmotorerna desto större är chansen att ni är top of mind
        .inside.pitch
            h4 Öka försäjlningen 

            p Många som googlar är i slutet av sin köpprocess och nära en beställning
        .inside.pitch
            h4 Öka konkurrenskraften

            p Varje klick ni får, är ett klick som er konkurrent missar
    article
        
            .inside
                
                .excerpt
                    p Om du har en butik på Nygatan i Örnsköldsvik eller en bar på Artillerigatan i Stockholm kanske det känns långt att ta steget till Sökmotoroptimering. Du har en webbsajt som du skaffat för att någon sa att man var tvungen att ha det men det är svårt att säga att du egentligen tjänat något på den. Varför skulle du bry dig om att synas i sökmotorer?


                .content
                    p Om du säljer cyklar, bildäck eller smycken, om du har en frisersalong, en pizzeria eller en bed and breakfast i stan, finns det verkligen anledning att satsa på sökmotoroptimering?pudiandae velit fugit placeat ex ratione consectetur dicta eum. Eius!
                    p 
                        strong Du använder säkert Google själv?
                    p Vi är fullständigt övertygade om att du har mycket att tjäna på att synas i sökmotorer. Under 2012 har det gjorts 30-35 miljoner sökningar per dag på Google (källa) och en ansenlig andel av dessa är människor som letar efter något speciellt de vill köpa. Både online och offline-köp, särskilt när det gäller sällanköp, föregås av en sökning just på Google.se.

                    p Om du vill hitta bildäck eller en hyrbil och inte redan vet vart du ska vända dig, visst är det väl sökmotorer du vänder dig till (eller är du en av dem som fortfarande tittar i en stor telefonkatalog, ni är inte så många)?
    
    article
            .inside.clients
                h3 Några vi hjälper med sökmotoroptimering
                p Vi arbetar med många stora och mindre stora företag för vilka söktrafiken är enormt viktig. När sökmotoroptimering är en mycket viktig del av hur ett företag får kunder väljer man gärna leverantör med lite mer eftertanke. Helst ska du jämföra, kontrollera resultat, gå igenom alla rapporter och prata med referenskunder. Om du vill prata med någon av de nedan som vi gjort sökmotoroptimering åt så hör av dig så ska du få kontaktuppgifter.
                
            .inside.logos
                div
                    a(href="http://www.gosporttravel.com/", target="_blank", title="Go Sport Travel")
                        img(src="/img/GOSportTravel_www_logo.png", alt="Go Sport Travel")
                div
                    a(href="https://www.betsson.com/sv/", target="_blank", title="Go Sport Travel")
                        img(src="/img/betsson-logo.png", alt="")
                div
                    a(href="http://amas.se/", target="_blank", title="Go Sport Travel")
                        img(src="/img/amas.png", alt="")
                div
                    a(href="http://www.gosporttravel.com/", target="_blank", title="Go Sport Travel")
                        img(src="", alt="")
                div
                    a(href="https://www.betsson.com/sv/", target="_blank", title="Go Sport Travel")
                        img(src="", alt="")
                div
                    a(href="http://amas.se/", target="_blank", title="Go Sport Travel")
                        img(src="", alt="")
                div
                    a(href="http://www.gosporttravel.com/", target="_blank", title="Go Sport Travel")
                        img(src="", alt="")
                div
                    a(href="https://www.betsson.com/sv/", target="_blank", title="Go Sport Travel")
                        img(src="", alt="")
                div
                    a(href="http://amas.se/", target="_blank", title="Go Sport Travel")
                        img(src="", alt="") 
    aside 
            .inside.quotes
                h3 Vad Braths kunder säger
                blockquote
                    p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni in omnis, quibusdam ab, blanditiis corporis.
                    footer
                        cite  Lorem ipsum dolor.
                blockquote
                    p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores delectus eveniet, architecto temporibus.
                    footer
                        cite  Lorem ipsum dolor.
                blockquote
                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt amet mollitia dolore, eos nesciunt, accusantium natus corrupti quaerat corporis dolores quam. Deleniti obcaecati ea iusto?
                    footer
                        cite  Lorem ipsum dolor.
                blockquote
                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt amet mollitia dolore, eos nesciunt, accusantium natus corrupti quaerat corporis dolores quam. Deleniti obcaecati ea iusto?
                    footer
                        cite  Lorem ipsum dolor.
                blockquote
                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis expedita accusamus, dolore nisi saepe quisquam, necessitatibus rem amet culpa quam.
                    footer
                        cite  Lorem ipsum dolor sit.
                blockquote
                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt amet mollitia dolore, eos nesciunt, accusantium natus corrupti quaerat corporis dolores quam. Deleniti obcaecati ea iusto?
                    footer
                        cite  Lorem ipsum dolor.
                blockquote
                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt amet mollitia dolore, eos nesciunt, accusantium natus corrupti quaerat corporis dolores quam. Deleniti obcaecati ea iusto?
                    footer
                        cite  Lorem ipsum dolor.
                blockquote
                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis expedita accusamus, dolore nisi saepe quisquam, necessitatibus rem amet culpa quam.
                    footer
                        cite  Lorem ipsum dolor sit.
    article.mainpage.the_content
          
          h2  Lorem ipsum dolor sit.
          img.alignright(src="", alt="")
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde nam impedit, deserunt repellendus voluptatem quisquam perspiciatis pariatur quod, optio obcaecati nihil maxime labore culpa placeat necessitatibus reprehenderit nulla adipisci ut accusantium iste illo architecto alias.
          
          p Quidem repellendus dicta odio ad labore laboriosam itaque soluta, unde dolorem nostrum laborum, necessitatibus recusandae eum quo corporis cum reiciendis culpa voluptas assumenda ut, deleniti amet adipisci cupiditate sit. Voluptates earum, fugiat debitis magnam est.
          p Ex eveniet, facere minima illum, odio ab maxime voluptates. Ea sunt ab id eligendi tempore enim, at suscipit soluta magnam repellendus ad accusantium blanditiis impedit, adipisci, voluptates aliquid nulla deserunt porro provident tenetur cupiditate quidem?
          
          p Nam repellendus minus quia asperiores perspiciatis libero, incidunt placeat nobis ipsam soluta quod possimus minima molestias numquam perferendis facilis animi. Dolorem possimus consectetur, sit hic, eius, iure ipsam voluptatum doloremque consequuntur sint deserunt provident tenetur.
          p Architecto quae ducimus modi, ipsum amet debitis suscipit dolore ad delectus quasi, facilis, repudiandae labore earum sint, laudantium sequi recusandae vel neque ea quaerat mollitia cumque tenetur enim. Eligendi blanditiis cupiditate, distinctio. Voluptatem ex, obcaecati!
          img.alignleft(src="", alt="")
          p Nam repellendus minus quia asperiores perspiciatis libero, incidunt placeat nobis ipsam soluta quod possimus minima molestias numquam perferendis facilis animi. Dolorem possimus consectetur, sit hic, eius, iure ipsam voluptatum doloremque consequuntur sint deserunt provident tenetur.
          p Architecto quae ducimus modi, ipsum amet debitis suscipit dolore ad delectus quasi, facilis, repudiandae labore earum sint, laudantium sequi recusandae vel neque ea quaerat mollitia cumque tenetur enim. Eligendi blanditiis cupiditate, distinctio. Voluptatem ex, obcaecati!

          p Architecto quae ducimus modi, ipsum amet debitis suscipit dolore ad delectus quasi, facilis, repudiandae labore earum sint, laudantium sequi recusandae vel neque ea quaerat mollitia cumque tenetur enim. Eligendi blanditiis cupiditate, distinctio. Voluptatem ex, obcaecati!

          p Architecto quae ducimus modi, ipsum amet debitis suscipit dolore ad delectus quasi, facilis, repudiandae labore earum sint, laudantium sequi recusandae vel neque ea quaerat mollitia cumque tenetur enim. Eligendi blanditiis cupiditate, distinctio. Voluptatem ex, obcaecati!

          h2  Lorem ipsum dolor sit.
          p Nam repellendus minus quia asperiores perspiciatis libero, incidunt placeat nobis ipsam soluta quod possimus minima molestias numquam perferendis facilis animi. Dolorem possimus consectetur, sit hic, eius, iure ipsam voluptatum doloremque consequuntur sint deserunt provident tenetur.
          p Architecto quae ducimus modi, ipsum amet debitis suscipit dolore ad delectus quasi, facilis, repudiandae labore earum sint, laudantium sequi recusandae vel neque ea quaerat mollitia cumque tenetur enim. Eligendi blanditiis cupiditate, distinctio. Voluptatem ex, obcaecati!

          img.aligncenter(src="", alt="")

block sidebar
    
    
    aside#floater
        .inside

            h3 Låter det lockande?
            p Bra sökmotoroptimering ger bevisat mätbar och hög avkastning.
            p Fyll i formuläret så hör vi av oss inom 48 timmar och berättar hur.
            include content/form
    


block extra
    .extra

        

        

block footer
    




