form
    div
        label Namn / Företag

        input(type="text")
    div
        label Webbplats
        input(type="text")
    div
        label Telefonnummer
        input(type="text")
    div
        label Epost
        input(type="text")
    div.cta
        button.send.icon Skicka